.topBarWrap {
    display: flex;
    justify-content: center;
    background-color: #333;
    margin: 0 auto;
}

.siteNavWrap {
  width: var(--edition-width);
  display: flex;
  justify-content: space-between;
  height: 40px;

}

.siteNav {
  display: flex;
}

.userNav {
  display: flex;
  justify-content: space-between;
}

.topBarWrap a {
    text-decoration: none;
    color: #b0b0b0;
    font-size: 12px;
    line-height: 40px;
}

.topBarWrap a::after {
    content: "|";
    margin: 0 8px;
    color: #424242;
    font-size: 12px;
    line-height: 40px;
}

.topBarWrap a:last-of-type::after {
    display: none;
}

.topBarWrap a:hover {
    color: #fff;
}

.shoppingCar {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.shoppingCar a {
    text-align: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: #424242;
}

.shoppingCar a:hover {
    color: #ff6700;
    background-color: #fff;
}