.footBarWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
} 

.serveBar {
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #e0e0e0;
    width: var(--edition-width);
    
}

.serveBarItem {
    flex:1;
    text-align: center;
    height: 25px;
    /* padding: 0 20px; */
    border-right: 1px solid #e0e0e0;
}

.serveBarItem:last-child {
    border-right: none;
}

.serveBarItem a {
    text-decoration: none;
    color: #616161;
}

.serveBarItem a:hover {
    color: #ff6700;
}

.footBar {
    display: flex;
    width: var(--edition-width);
    justify-content: space-between;
    padding: 20px 100px;
}

.footBarItem {
    display: flex;
    flex-direction: column;
    justify-content:start;
    /* align-items: center; */
}

.ItemTitle {
    font-size: 14px;
    color: #424242;
    font-weight: 500;
    margin-bottom: 15px;
}

.ItemContent {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.ItemLinks {
    font-size: 12px;
    margin-bottom: 10px;
}

.ItemLinks a {
    text-decoration: none;
    color: #757575;
}

.footBarContact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 252px;
    border-left: 1px solid #e0e0e0;
}

.contactNum {
    font-size: 22px;
    color: #ff6700;
    font-weight: 500;
}

.contactTips {
    font-size: 12px;
    color: #616161;
}

.contactBtn {
    height: 30px;
    width: 120px;
    font-size: 12px;
    color: #ff6700;
    border: 1px solid #ff6700;
    border-radius: 0px;
    background-color: #fff;
}

